@import '../../style/common/variable.scss';
@import '../../style/mixins/flex_style.scss';
@import '../../style/mixins/animation.scss';

.cookie-dialog--mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  @include flex-all-center;
  .cookie-dialog--board {
    width: 280px;
    background-color: $common-white;
    border-radius: 8px;
  }
}