@import '../../style/common/reset.scss';
@import '../../style/common/variable.scss';
.cookie-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  color: #fff;
  &.cookie-button--primary {
    background-color: $button-primary;
  }
}